body,
input,
button,
select {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	color: #333;
}

a,
a:hover,
a:visited,
a:active {
	color: inherit;
	text-decoration: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background: #F0F0F0;
}

.wrapper {
	padding-left: 1em;
	padding-right: 1em;
	max-width: 60em;
	margin: 0 auto;
}

:global .wrapper {
	padding-left: 1em;
	padding-right: 1em;
	max-width: 60em;
	margin: 0 auto;
}
